##############################
## Eclipse
##############################
.configurações/
bin /
tmp /
src/test/resources/reports_executions/*
src/test/resources/html/*
.metadata
.classpath
.projeto
.settings/*
* .tmp
* .bak
* .swp
* ~ .nib
local.properties
.loadpath
/target/
qaengineer/
